#login_form{
    display: flex;
    flex-direction: column;
    border-style: inset;
    border-radius: 10px;
    padding: 25px;    
    margin-bottom: 15%;
    background-color: rgb(235, 229, 222);
    font-size: 20px;
}

.titels{
    background-color: #daecf6;
    font-size: 15px;
    border-style: groove;
    border-radius: 5px;
    border-color: #dce4f8;
    padding:1px;   
    font-family:Arial, Helvetica, sans-serif;
}

.submit-button{
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family:Arial, Helvetica, sans-serif;
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit-button:hover {
  background-color: rgb(212, 228, 244);
}

.submit-button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.submit-button:focus-visible {
  box-shadow: none;
}

.hidden {
    display: none;
}