html, body{
    background-color:#79a4cf;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #adc8e7;    
    border-style: groove;
    border-radius: 10px;
    margin-left:30%;
    margin-right: 30%;
    margin-top: 5%;
    height: 80%;
    overflow:hidden;
    box-shadow:5px 2px 8px;
    
}

#ZieDit{
width: 100%;
padding: 10%;
 font-size: 75px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: center;
 border-bottom: groove;
 border-radius: 10px;
 
}

.buttons{
    background-color: #d9dade; 
    border-style: outset;
    border-color: #6F8AB7;
    border-radius: 25px;
    color: #29274C;
    padding: 10px 20px ;
    
    margin:10px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: .9rem;
    font-weight: bold;
    height: fit-content;
    
}

.buttons:hover{
    background-color:#FBFBFB;
}