#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: lightblue;
    border-style: groove;
    border-radius: 25px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    height: 750px;
    
}

#body{
    background-color: rgb(255, 255, 255);
}
