.error{
    font-weight:bold;
    font-family: sans-serif;
    background-color: rgb(235, 56, 56);
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-style: outset;
    border-color: black;
}