#event_container{
    background-color: azure;
    border-style: groove;
    margin:auto;
    padding: 1%;
    height: fit-content;
    width: 300px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px;
}