.home-info {
    width: 100%; /* Occupy 100% of the container width */
    max-width: 800px; /* Set a maximum width for your div */
    margin: 0 auto; /* Center the div horizontally within the container */
    background-color:rgb(45, 42, 52);
    
    padding: 10px;
    padding-right:50px;
    padding-left:50px;
    box-sizing: border-box; /* Include padding and border in the total width and height */
    border-radius: 8px;
}

.knop{
    font-family: sans-serif;
    color:white;
    text-align: center;
    padding:0;
    
}

.center-div{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color:#f0f0f0;
    border-style:outset;
    margin:5px;
    border-radius: 10px;
    padding:5px;
    min-width: 200px;   
    
}