#container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightblue;
    border-style: groove;
    margin: 30%;
    height: 250px;

}

.buttons{
    margin: 20%;
}