.buttons{
    background-color: #a4c0f5; 
    border-style: outset;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    padding: 50px 50px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: fit-content;
    
}