{% extends 'base.html' %}
    {% block css %}
    <link rel="stylesheet" href="/static/css/account_aanmaken.css">
    {% endblock %}
    {%block content%}
        <form id="login_form" method="POST">
            
            <div>
                <label for="name">Naam</label>
                <div>
                    <input type="text" value="" name="name" placeholder="Uw naam">
                </div>
            </div>

            <div>
                <label for="bevoegdheid">Bevoegdheid</label>
                <div>
                    <input type="text" value="" name="bevoegdheid" placeholder="bezoeker/presentator/beheerder">
                </div>
            </div>

                <input type="submit" value="Submit">
        </form>
        {%endblock%}