{% extends 'base.html' %}
    {% block css %}
    <link rel="stylesheet" href="/static/css/evenement_aanmaken.css">
    {% endblock %}

    {%block content%}
        <form id="evenement_form" onsubmit="return form_validate()" method="POST">
            
            <div>
                <label for="evenementnaam">Evenementnaam</label>
                <div>
                    <input type="text" value="" name="evenementnaam" placeholder="Naam van dit evenement">
                </div>
            </div>

            <div>
                <label for="locatie">Locatie</label>
                <div>
                    <input type="text" value="" name="locatie" placeholder="Locatie van dit evenement">
                </div>
            </div>

            <div>
                <label for="startTijd">Starttijd</label>
                <div>
                    <input type="datetime-local" value="" name="startTijd" placeholder="Starttijd van dit evenement">
                </div>
            </div>

            <div>
                <label for="eindTijd">Eindtijd</label>
                <div>
                    <input type="datetime-local" value="" name="eindTijd" placeholder="Eindtijd van dit evenement">
                </div>
            </div>

            {% if error_message %}
            <div class="error">{{ error_message | safe }}</div>
            {% endif %}
            
            {% if not huidige_presentator %}
            <label for="presentator">Presentator</label>
                <div>
                    <select name="presentator" id="presentator_select">
                        {% for presentator in presentator_lijst %}
                            {% for unieke_id, name in presentator.items() %}
                                <option value="{{ unieke_id }}">{{ unieke_id}}: {{ name }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <!-- <div>
                
                
                <div>
                    <input type="text" value="" name="presentator" placeholder="Presentator">
                </div>
            </div> -->

            <div>
                <label for="bezoekers_limiet">Bezoekers limiet</label>
                <div>
                    <input type="text" value="" name="bezoekers_limiet" placeholder="Aantal bezoekers limiet">
                </div>
            </div>

            <div>
                <label for="beschrijving">Beschrijving</label>
                <div>
                    <input type="text" value="" name="beschrijving" placeholder="Beschrijving van het evenement">
                </div>
            </div>

                <input type="submit" value="Submit">
        </form>
        
    </div>
    
    <script>
        function form_validate(){
        
            let evenementnaam = document.forms["evenement_form"]["evenementnaam"].value
            if (evenementnaam === "") {
                alert("Evenementnaam is niet ingevuld.");
                return false;
            }
            
            let locatie = document.forms["evenement_form"]["locatie"].value;
            if (locatie === "") {
                alert("Locatie is niet ingevuld.");
                return false;
            }
            
            let startTijd = document.forms["evenement_form"]["startTijd"].value;
            if (startTijd === "") {
                alert("Starttijd is niet ingevuld.");
                return false;
            }
            
            let eindTijd = document.forms["evenement_form"]["eindTijd"].value;
            if (eindTijd === "") {
                alert("Eindtijd is niet ingevuld.");
                return false;
            }

            if (startTijd == eindTijd){
                alert("Evenement starttijd en eindtijd zijn hetzelfde.")
                return false;
            }

            if (startTijd.slice(0, 10) == eindTijd.slice(0, 10)){
                
                let startTijdInt = parseInt(startTijd.slice(-5, -3) + startTijd.slice(-2)) 
                let eindTijdInt = parseInt(eindTijd.slice(-5, -3) + eindTijd.slice(-2)) 

                if (eindTijdInt < startTijdInt){
                    alert("Eindtijd kan niet eerder zijn dan begintijd.")
                    return false;
                }
            }else if(startTijd.slice(0, 10) !== eindTijd.slice(0, 10)){
                alert("Starttijd en eindtijd zijn niet op dezelfde dag.")
                return false;
            }

            let presentator = document.getElementById("presentator_select").value;
            if (presentator === "") {
                alert("Presentator is niet ingevuld.");
                return false;
            }

            let bezoekers_limiet = parseInt(document.forms["evenement_form"]["bezoekers_limiet"].value, 10);
            if (bezoekers_limiet === "" || isNaN(bezoekers_limiet) || bezoekers_limiet <= 0) {
                alert("Bezoekers limiet is niet correct ingevuld.");
                return false;
            }

            let beschrijving = document.forms["evenement_form"]["beschrijving"].value;
            if (beschrijving === "") {
                alert("Beschrijving is niet ingevuld.");
                return false;
            }


        }
    </script>
    {%endblock%}