<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/evenement_aanmaken.css">
</head>
<body>

    <div id="container">
        <form id="evenement_form" method="POST">
            
            <div>
                <label for="evenementnaam">Evenementnaam</label>
                <div>
                    <input type="text" value="" name="evenementnaam" placeholder="{{event_info['evenementnaam']}}">
                </div>
            </div>

            <div>
                <label for="locatie">Locatie</label>
                <div>
                    <input type="text" value="" name="locatie" placeholder="{{event_info['locatie']}}">
                </div>
            </div>

            <div>
                <label for="tijd">Starttijd</label>
                <div>
                    <input type="text" value="" name="tijd" placeholder="{{event_info['tijd']}}">
                </div>
            </div>

            <div>
                <label for="duur">Duur</label>
                <div>
                    <input type="text" value="" name="duur" placeholder="{{event_info['duur']}}">
                </div>
            </div>

            <div>
                <label for="presentator">Presentator</label>
                <div>
                    <input type="text" value="" name="presentator" placeholder="{{event_info['presentator']}}">
                </div>
            </div>

            <div>
                <label for="bezoekers_limiet">Bezoekers limiet [INT INVOEREN NOG GEEN CONTROLE]</label>
                <div>
                    <input type="text" value="" name="bezoekers_limiet" placeholder="{{event_info['bezoekers_limiet']}}">
                </div>
            </div>

                <input type="submit" value="Submit">
        </form>
        
    </div>
    
</body>
</html>