{% extends 'base.html' %}
    {% block css%}
    <link rel="stylesheet" href="/static/css/evenement_wijzigen.css">
    {%endblock%}

    {%block content%}
    <div id="form-container">
        <form id="evenement_form" onsubmit="return form_validate()" method="POST">
            
            <div>
                <label class="titel" for="evenementnaam">Evenementnaam</label>
                <div>
                    <input type="text" value="" name="evenementnaam" placeholder="{{event_info['evenementnaam']}}">
                </div>
            </div>

            <div>
                <label class="titel" for="locatie">Locatie</label>
                <div>
                    <input type="text" value="" name="locatie" placeholder="{{event_info['locatie']}}">
                </div>
            </div>

            <div>
                <label class="titel" for="startTijd">Starttijd</label>
                <div>
                    <input type="datetime-local" value="" name="startTijd" placeholder="{{event_info['startTijd']}}">
                </div>
            </div>

            <div>
                <label class="titel" for="Eindtijd">Eindtijd</label>
                <div>
                    <input type="datetime-local" value="" name="eindTijd" placeholder="{{event_info['eindTijd']}}">
                </div>
            </div>

            
            {% if error_message %}
            <div class="error">{{ error_message | safe }}</div>
            {% endif %}
            
            
            {% if "P" not in session_gebruiker%}
            <label class="titel" for="presentator">Presentator</label>
            <div>
                <select name="presentator">
                    {% for unieke_id in event_info['presentator'] %}
                        <option value="" selected disabled>{{ event_info['presentator'] }}</option>
                    {% endfor %}

                    {% for presentator in presentator_lijst %}
                        {% for unieke_id, name in presentator.items() %}
                            <option value="{{ unieke_id }}">{{ unieke_id}}: {{ name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            {%endif%}
        
            <div>
                <label class="titel" for="bezoekers_limiet">Bezoekers limiet</label>
                <div>
                    <input type="text" value="" name="bezoekers_limiet" placeholder="{{event_info['bezoekers_limiet']}}">
                </div>
            </div>

            <div>
                <label class="titel" for="beschrijving">Evenement Beschrijving</label>
                <div>
                    <input type="text" value="" name="beschrijving" placeholder="{{event_info['beschrijving']}}">
                </div>
            </div>

                <input class="button" type="submit" name="Wijzigen" value="Wijzigen">
                <input class="button" type="submit" name="Verwijderen" value="Evenement Verwijderen">

        </form>
    </div>

        <script>
            function form_validate(){

                let submitButton = document.activeElement;
                if (submitButton && submitButton.name === "Verwijderen") {
                    return true;
                }
                              
                let startTijd = document.forms["evenement_form"]["startTijd"].value;
                let eindTijd = document.forms["evenement_form"]["eindTijd"].value;
                
                if (startTijd == eindTijd && startTijd != "" && eindTijd != ""){
                    alert("Evenement starttijd en eindtijd zijn hetzelfde.")
                    return false;
                }
    
                if (startTijd.slice(0, 10) == eindTijd.slice(0, 10)){
                    
                    let startTijdInt = parseInt(startTijd.slice(-5, -3) + startTijd.slice(-2)) 
                    let eindTijdInt = parseInt(eindTijd.slice(-5, -3) + eindTijd.slice(-2)) 
    
                    if (eindTijdInt < startTijdInt){
                        alert("Eindtijd kan niet eerder zijn dan begintijd.")
                        return false;
                    }
                }else if(startTijd.slice(0, 10) !== eindTijd.slice(0, 10)){
                    alert("Starttijd en eindtijd zijn niet op dezelfde dag.")
                    return false;
                }
                
            }
            </script>

       {%endblock%} 