{% extends 'base.html' %}
    {% block css %}
    <link rel="stylesheet" href="/static/css/evenement_aanmaken.css">
    {% endblock %}

    {%block content%}
        <form id="evenement_form" onsubmit="return form_validate()" method="POST">
            
            <div>
                <label for="evenementnaam">Evenementnaam</label>
                <div>
                    <input type="text" value="" name="evenementnaam" placeholder="Naam van dit evenement">
                </div>
            </div>

            <div>
                <label for="locatie">Locatie</label>
                <div>
                    <input type="text" value="" name="locatie" placeholder="Locatie van dit evenement">
                </div>
            </div>

            <div>
                <label for="tijd">Starttijd</label>
                <div>
                    <input type="text" value="" name="tijd" placeholder="Starttijd van dit evenement">
                </div>
            </div>

            <div>
                <label for="duur">Duur</label>
                <div>
                    <input type="text" value="" name="duur" placeholder="Duur van dit evenement">
                </div>
            </div>

            <div>
                <label for="presentator">Presentator</label>
                <div>
                    <input type="text" value="" name="presentator" placeholder="Presentator">
                </div>
            </div>

            <div>
                <label for="bezoekers_limiet">Bezoekers limiet</label>
                <div>
                    <input type="text" value="" name="bezoekers_limiet" placeholder="Aantal bezoekers limiet">
                </div>
            </div>

            <div>
                <label for="bezoekers_limiet">Beschrijving</label>
                <div>
                    <input type="text" value="" name="beschrijving" placeholder="Beschrijving van het evenement">
                </div>
            </div>

                <input type="submit" value="Submit">
        </form>
        
    </div>
    
    <script>
        function form_validate(){
        
            let evenementnaam = document.forms["evenement_form"]["evenementnaam"].value
            if (evenementnaam === "") {
                alert("Evenementnaam is niet ingevuld.");
                return false;
            }
            
            let locatie = document.forms["evenement_form"]["locatie"].value;
            if (locatie === "") {
                alert("Locatie is niet ingevuld.");
                return false;
            }
            
            let tijd = document.forms["evenement_form"]["tijd"].value;
            if (tijd === "") {
                alert("Starttijd is niet ingevuld.");
                return false;
            }
            
            let duur = document.forms["evenement_form"]["duur"].value;
            if (duur === "") {
                alert("Duur is niet ingevuld.");
                return false;
            }

            let presentator = document.forms["evenement_form"]["presentator"].value;
            if (presentator === "") {
                alert("Presentator is niet ingevuld.");
                return false;
            }

            let bezoekers_limiet = parseInt(document.forms["evenement_form"]["bezoekers_limiet"].value, 10);
            if (bezoekers_limiet === "" || isNaN(bezoekers_limiet) || bezoekers_limiet <= 0) {
                alert("Bezoekers limiet is niet correct ingevuld.");
                return false;
            }

        }
    </script>
    {%endblock%}