{% extends 'base.html' %}
    {% block css%}
    <link rel="stylesheet" href="/static/css/evenement_wijzigen.css">
    {%endblock%}

    {%block content%}
        <form id="evenement_form" method="POST">
            
            <div>
                <label for="evenementnaam">Evenementnaam</label>
                <div>
                    <input type="text" value="" name="evenementnaam" placeholder="{{event_info['evenementnaam']}}">
                </div>
            </div>

            <div>
                <label for="locatie">Locatie</label>
                <div>
                    <input type="text" value="" name="locatie" placeholder="{{event_info['locatie']}}">
                </div>
            </div>

            <div>
                <label for="startTijd">Starttijd</label>
                <div>
                    <input type="datetime-local" value="" name="startTijd" placeholder="{{event_info['startTijd']}}">
                </div>
            </div>

            <div>
                <label for="Eindtijd">Eindtijd</label>
                <div>
                    <input type="datetime-local" value="" name="eindTijd" placeholder="{{event_info['eindTijd']}}">
                </div>
            </div>

            
            {% if error_message %}
            <div class="error">{{ error_message | safe }}</div>
            {% endif %}
            
            
            {% if "P" not in session_gebruiker%}
            <label for="presentator">Presentator</label>
            <div>
                <select name="presentator">
                    {% for unieke_id in event_info['presentator'] %}
                        <option value="" selected disabled>{{ event_info['presentator'] }}</option>
                    {% endfor %}

                    {% for presentator in presentator_lijst %}
                        {% for unieke_id, name in presentator.items() %}
                            <option value="{{ unieke_id }}">{{ unieke_id}}: {{ name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            {%endif%}
        

            <!-- <div>
                <label for="presentator">Presentator</label>
                <div>
                    <input type="text" value="" name="presentator" placeholder="{{event_info['presentator']}}">
                </div>
            </div> -->

            <div>
                <label for="bezoekers_limiet">Bezoekers limiet</label>
                <div>
                    <input type="text" value="" name="bezoekers_limiet" placeholder="{{event_info['bezoekers_limiet']}}">
                </div>
            </div>

            <div>
                <label for="beschrijving">Evenement Beschrijving</label>
                <div>
                    <input type="text" value="" name="beschrijving" placeholder="{{event_info['beschrijving']}}">
                </div>
            </div>

                <input type="submit" name="Wijzigen" value="Wijzigen">
                <input type="submit" name="Verwijderen" value="Evenement Verwijderen">

        </form>


       {%endblock%} 