{% extends 'base.html' %}
    {%block css%}
    <link rel="stylesheet" href="/static/css/gebruikers.css">
    {%endblock%}
    
    {%block content%}
        <div>
            <div>Presentator Account Code: {{huidige_presentator_code}}</div>
        <form method="post">
            <input type="text" name="presentator_code" value="" placeholder="Kies een presentatorcode">
            
            <input type="submit" value="Verzenden" class="buttons" id="submit-button">
        </form>
        </div>

        <div id="user_container">
           
            <ul>
                {% for user in users %}
                    <li>
                        Naam: {{ users[user]['naam'] }}
                        Bevoegdheid: {{ users[user]['bevoegdheid'] }}
                        Gebruikers ID: {{ users[user]['unieke_ID'] }}
                        <form method="post">

                            <input type="hidden" name="unieke_ID" value="{{users[user]['unieke_ID']}}">

                            <input type="submit" name="Verwijderen" value="Verwijderen">
                            <input type="submit" name="Wijzigen" value="Wijzigen">
                        </form>

                        
                    </li>
                {% endfor %}
            </ul>
        </div>
    {%endblock%}