{% extends 'base.html' %}
        {% block css %}
            <link rel="stylesheet" href="/static/css/home_styles.css">
        {% endblock %}
    {%block title%}{{account_instance.bevoegdheid}} {{account_instance.naam}}{%endblock%}
    
    {%block content%}
    <div><!-- deze div misschien fout -->    
        <div id="name">
            Naam:
            {{account_instance.naam}}
        </div>

        <div id="bevoegdheid">
            Bevoegdheid: {{account_instance.bevoegdheid}}
        </div>

        <div>
            ID:
            {{account_instance.unieke_ID}}
        </div>

        <button> Parkeerplaats reserveren</button>
        <a href=evenementen><button> Evenementen</button></a>

        {% if account_instance.bevoegdheid == "beheerder" %}
        <div id="evenement_aanmaken" class="buttons">
            <a href=evenement_aanmaken ><button>evenement_aanmaken</button></a>
        </div>
        {% endif %}

    </div>
    {%endblock%}