{% extends 'base.html' %}

{%block css%}
    <link rel="stylesheet" href="/static/css/parkeerplaatsen.css">
{%endblock%}

{%block content%}

<div id="parkeerplaats_container">
    <form method="post">
        {% if not plaats_gereserveerd %}
        <input type="submit" name="Reserveren" value="Parkeerplaats Reserveren">
        {% endif %}

        {% if plaats_gereserveerd %}
        <input type="submit" name="Annuleren" value="Reservering Annuleren">
        {% endif %}
    </form>
</div>
{%endblock%}

